<a href="https://colab.research.google.com/github/Raj1321111/python-assignment-1/blob/main/Data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are data structures, and why are they important?
ans- Data structures act like containers that determine how data is stored and accessed, directly affecting the performance of programs.
ex:- array,stack,queue,tree,etc...

2.Explain the difference between mutable and immutable data types with example?
ans-*Mutable data types* can be changed after creation, meaning their content can be updated without creating a new object.

* Example: *List* → `nums = [1, 2, 3]` → `nums[0] = 10` changes list to `[10, 2, 3]`.

*Immutable data types* cannot be changed after creation; any modification creates a new object.

* Example: *String*→ `name = "Ram"` → `name = "Sam"` creates a new string.

 Lists, sets, dicts = mutable; strings, tuples, numbers = immutable.

3.What are the main differences between lists and tuples in Python?
ans-In Python, *lists* and *tuples* both store collections of items, but they differ in flexibility. A **list** is *mutable*, meaning its elements can be added, removed, or changed (`marks = [80, 90]`, then `marks[0] = 70`). A *tuple* is *immutable*, so once created, its elements cannot be modified (`data = (1, 2, 3)`). Lists use `[]`, while tuples use `()`.

 Tuples are faster and often used for fixed data, while lists are used when changes are needed.

4.Describe how dictionaries store data?
ans-In Python, a *dictionary* stores data as *key–value pairs*. Each key is unique and works like a label, while the value is the data linked to it. For example: `student = {"name": "Amit", "age": 20}`. Here, `"name"` and `"age"` are keys, and `"Amit"`, `20` are values. Dictionaries use a *hashing technique*, which allows very fast lookups, insertions, and deletions.

5.Why might you use a set instead of a list in Python?
ans-we might use a *set* instead of a *list* when we need to store *unique items* and don’t care about order. Sets automatically remove duplicates, while lists allow them. For example, `set([1, 2, 2, 3])` becomes `{1, 2, 3}`. Sets are also faster than lists for operations like checking membership (`in`), making them useful for quick lookups.

6. What is a string in Python, and how is it different from a list?
ans- In Python, a *string* is a sequence of characters enclosed in quotes, like `"hello"`. A *list* is a collection of items, which can be numbers, strings, or even other lists, written in square brackets like `[1, "hi", 3]`.

The key difference is: *strings are immutable* (cannot be changed after creation), while **lists are mutable** (their elements can be updated, added, or removed).

7.How do tuples ensure data integrity in Python?
ans-*Tuples ensure data integrity* in Python because they are *immutable*, meaning once a tuple is created, its values cannot be changed, added, or removed. This immutability prevents accidental modifications, making data more secure and reliable. For example, if coordinates are stored as `(10, 20)`, they remain fixed, ensuring the data stays consistent throughout the program.
 Tuples are best when data must stay unchanged.

8.What is a hash table, and how does it relate to dictionaries in Python?
ans-A *hash table* is a data structure that stores data in *key–value pairs* and uses a *hash function* to quickly locate the value associated with a key.

Example: `student = {"name": "Amit", "age": 20}` – here `"name"` and `"age"` are keys, and Python uses hashing to find their values efficiently.

9.Can lists contain different data types in Python?
ans-Yes, *lists in Python can contain different data types*. A single list can hold integers, strings, floats, or even other lists together.

Example my_list = [10, "hello", 3.5, [1, 2]]
```
Here, `10` is an integer, `"hello"` is a string, `3.5` is a float, and `[1, 2]` is another list. This makes lists very flexible for storing mixed data.

10.Explain why strings are immutable in Python?
ans-Strings are *immutable* in Python because once a string is created, its content cannot be changed. This design helps in *data safety, consistency, and efficiency*. For example, if `"hello"` is stored in memory, modifying it would require creating a new string instead of changing the old one.

 Immutability allows strings to be *used as dictionary keys* and ensures *thread safety* in programs.

11.What advantages do dictionaries offer over lists for certain tasks?
ans-Dictionaries offer several advantages over lists for certain tasks:

1. *Fast lookups:* Accessing a value by key is much faster than searching through a list.
2. *Key–value pairing:* Data can be stored with meaningful keys instead of relying on index positions.
3. *No duplicate keys:* Each key is unique, preventing accidental repetition.
4. *Flexible data retrieval:* You can directly access, add, or remove items using keys.

Example: Storing a student’s info: `{"name": "Amit", "age": 20}` is clearer and faster than using a list like `["Amit", 20]`.

12. Describe a scenario where using a tuple would be preferable over a list?
ans-A *tuple* is preferable over a list when you want to store data that *should not change*, ensuring it stays safe and consistent.

*Example scenario:* Storing the **latitude and longitude** of a location:

```python
location = (28.6139, 77.2090)
```

Since coordinates shouldn’t be accidentally modified, using a tuple prevents changes.

13.How do sets handle duplicate values in Python?
ans- *sets automatically remove duplicate values*. When you add elements to a set, only **unique items** are stored.

Example:

```python
numbers = [1, 2, 2, 3, 3, 3]
unique_numbers = set(numbers)
print(unique_numbers)  # Output: {1, 2, 3}
```

14.How does the “in” keyword work differently for lists and dictionaries?
ans-The **`in` keyword** checks for membership, but it works differently for lists and dictionaries:

* *Lists:* `in` checks if a *value exists* in the list.

  ```python
  nums = [1, 2, 3]
  print(2 in nums)  # True
  ```

* *Dictionaries:* `in` checks if a *key exists* in the dictionary, *not the value*

  ```python
  student = {"name": "Amit", "age": 20}
  print("name" in student)  # True
  print("Amit" in student)   # False
  ```

So, lists focus on values, while dictionaries focus on keys.

15.Can you modify the elements of a tuple? Explain why or why not?
ans-No, you *cannot modify the elements of a tuple* because tuples are *immutable*. Once a tuple is created, its content cannot be changed, added to, or removed.

Example:

```python
data = (1, 2, 3)
data[0] = 10  # This will cause an error
```

Immutability ensures *data safety and consistency*, allows tuples to be used as dictionary keys, and makes them faster than lists for fixed data.

16.What is a nested dictionary, and give an example of its use case?
ans-A *nested dictionary* is a dictionary that contains another dictionary (or dictionaries) as its values. This allows you to *organize complex, hierarchical data*.

*Example use case:* Storing student information with multiple attributes:

```python
students = {
    "Amit": {"age": 20, "grade": "A"},
    "Sara": {"age": 19, "grade": "B"}
}
```

Here, each student’s name is a key, and the value is another dictionary holding details like age and grade..

17.Describe the time complexity of accessing elements in a dictionary?
ans-In a *dictionary*, accessing an element by its key is generally *O(1)*, which means it takes **constant time** regardless of the number of items.

This is because Python dictionaries use a *hash table* internally. The key is hashed to quickly locate the corresponding value, so lookups, insertions, and deletions are very fast on average.

18. In what situations are lists preferred over dictionaries?
ans-Order matters: Lists maintain the order of elements, so you can access items by index.

Simple collections: When you just need a sequence of items without key–value mapping.

Duplicates are allowed: Lists can store repeated values, while dictionary keys must be unique.

Iteration by position: When you want to loop through elements sequentially

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
ans-Dictionaries in Python are considered *unordered* because, historically, they did not maintain the order in which items were added. This means you *cannot rely on the position** of items; you must access data **only by keys*.

*Effect on data retrieval:*

* You cannot use an index like in a list.
* Accessing values requires knowing the key:

```python
student = {"name": "Amit", "age": 20}
print(student["name"])  # Correct
# print(student[0])     # Wrong
```

20. Explain the difference between a list and a dictionary in terms of data retrieva?
ans-The difference in *data retrieval* is:

* *List:* Access items by *index* (position).

  ```python
  nums = [10, 20, 30]
  print(nums[1])  # 20
  ```
* *Dictionary:* Access items by **key**, not position.

  ```python
  student = {"name": "Amit", "age": 20}
  print(student["name"])  # Amit
  ```

 Lists are for ordered data; dictionaries are for *key–value lookups*.

In [ ]:
#Write a code to create a string with your name and print it

name="raj  singh"
print(name)

raj  singh

In [ ]:
#Write a code to find the length of the string "Hello World"
x="HELLO WORLD"
print(len(x))

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"

x="python programming"
print(x[0:3])

pyt

In [ ]:
 #Write a code to convert the string "hello" to uppercase

 b="hello"
 print(b.upper())

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

k="i like apple"
print(k.replace("apple","orange"))

i like orange

In [2]:
# Write a code to create a list with numbers 1 to 5 and print it

list=[1,2,3,4,5,6]
print(list)

[1, 2, 3, 4, 5, 6]

In [3]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [6]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list=[1,2,3,4,5,6]
list.remove(3)
print(list)

[1, 2, 4, 5, 6]

In [7]:
 # Write a code to access the second element in the list ['a', 'b', 'c', 'd']

 list=['a','b','c','d']
 print(list[1])

b

In [8]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [9]:
1. # Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [11]:
 # Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

 tuple=('red','green','blue','yellow')
 print(tuple[-2])

blue

In [13]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple=(10,20,5,15)
print(min(tuple))

5

In [16]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [19]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple=('apple','lemon','kiwi')
print('kiwi' in tuple)

True

In [21]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set={'a','b','c'}
print(set)

{'b', 'a', 'c'}

In [22]:
 # Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

 set={1,2,3,4,5}
 set.clear()
 print(set)

set()

In [23]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [24]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [25]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s3={1,2,3}
s4={2,3,4}
print(s3.intersection(s4))

{2, 3}

In [26]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict={"name":"raj","age":22,"city":"varanasi"}
print(dict)

{'name': 'raj', 'age': 22, 'city': 'varanasi'}

In [30]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict={'name':'john','age':25}
dict['country']='usa'
print(dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [31]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict={'name':'alice','age':30}
print(dict['name'])

alice

In [33]:
 # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

 dict={'name':'bob','age':22,'city':'new york'}
 dict.pop('age')
 print(dict)

{'name': 'bob', 'city': 'new york'}

In [34]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict={'name':'alice','city':'paris'}
print('city' in dict)

True

In [42]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

list=[1,2,3,4]
print(list)
tuple=(1,2,3,4)
print(tuple)
dict={'name':'raj','age':22}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'raj', 'age': 22}

In [43]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
list=[]
for i in range(5):
    list.append(random.randint(1,100))
list.sort()
print(list)

[20, 78, 81, 87, 94]

In [44]:
# Write a code to create a list with strings and print the element at the third index.

list=['a','b','c','d','e']
print(list[3])

d

In [45]:
 # Write a code to combine two dictionaries into one and print the result.

 dict1={'a':1,'b':2}
 dict2={'c':3,'d':4}
 dict3=dict1.copy()
 dict3.update(dict2)
 print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
 #Write a code to convert a list of strings into a set.

 list=['a','b','c','d']
 set=set(list)
 print(set)

{'d', 'a', 'c', 'b'}